### Common to all chapters
numpy >= 1.22.4, < 2.0
scipy >= 1.11.4, < 2.0
pandas >= 2.1.4, < 3.0
matplotlib >= 3.8.2, < 4.0

# Chapter 4 (MTI)
scikit-learn >= 1.3.2, < 2.0
statsmodels >= 0.14.4, < 1.0

# Chapter 5 (Autoparametrization)
torczon == 0.0.1

# Chapter 6 (Only for QBoard bench)
pyod == 1.1.2
